/* Basic styles */
html {
  font-size: 100%;
  line-height: 1.5rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
/* Removing some default margins and padding */
body {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Style so that images and videos are responsive */

img, video {
  width: 100%;
  height: auto;
  display: block;
}

.background-image {
  background: linear-gradient(#8e9eab, #eef2f3);

}

/* All styles are made for mobile first. Styles for larger screen are added later using media queries */

/* Header Navbar Styles */
/* Flex box navbar*/
.nav-bar {
  display: flex; /* The logo will position next to the list */
  flex-wrap: wrap; /* This makes the logo wrap above the list */
  justify-content: center; /*Centers the content in the middle, from left to right */
  align-items: center; /* Centers the conent vertically */
  line-height: 1rem; /* Positions items closer together */
  overflow: hidden; /* This will allow scaling CSS transitions for the hover states of the links. Stops the webpage from jumping around when the hover states are triggered */
  background-color: #fff;
}

.logo, .nav-menu {
  text-transform: uppercase; /*Changes the text to uppercase */
}

.logo, .nav-item {
  white-space: nowrap; /* Keeps logo and other elements from collapsing on a single line */
}

.nav-menu {
  list-style: none; /* Removes bullet points */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* Even spacing for the links */
  align-items: center;
  padding: 0; /* Removes default padding from unordered lists so it stays centered */
  margin: 0; /* Removes any default margin as individual padding will be added. So this removes margin below the nav menu */
}

.nav-item {
  flex: 1 0 33.3%; /* Adds a flex grow of 1, a flex shrink of 0 and a basis of 33.3% */
  text-align: center;
}

.social-nav-item {
  flex: 1 1 10%
}

/* Style the links in logo and nav menu */
.logo a, .nav-menu a {
  display: block; /* Links are in-line elements as default so the need to be changed to display block */
  text-decoration: none;
  letter-spacing: 0.2rem; /* Adds spacing around letters */
  padding: 0.8rem; /* Adds space between each item */
  color: #000;
}

.logo a {
  font-weight: 700; /* Styles the logo to make the font bolder */

}

.nav-menu a {
  font-weight: 400;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid #fff; /* This adds a white border in the same place as the black border so the border just changes colours and doesn;t jump on the page. */
  transition: all ease 0.1s; /* This CSS transition animates the hover states to ease in and out in 0.1 seconds */
}

/* Styles what will happen when hovering over a link with the cursor*/
.nav-menu a:hover {
  border-bottom: 1px solid #000; /* Adds a black border to the bottom of each link */
}

/* Hero Header Navbar Changes */

.hero-nav {
  background: none; /* Removes background colour */
  grid-column: 1 / -1;
  grid-row: 1 / -1; /* Tells the nav to be inside of that row. This makes it float at the top over the image/video */
  background: none; /* Makes sure there is no background so it is clear */
  align-content: top;
  z-index: 10;
}

/* Changes all elements in the nav to white */
.hero-nav .logo a, .hero-nav .nav-menu a {
  color: white;
}

.hero-nav .nav-menu a:hover {
  border-bottom: 1px solid #ffffff; /*Changing the hover state to a white border*/
}

.hero-nav .nav-menu a {
  border-bottom: 1px solid rgba(0, 0, 0, 0); /*Changes black border to a transparent one*/
}

/* Homepage Hero */

/* Styles so that it is a grid. This means every child will be a grid item inside the hero box */
.hero-box {
  display: grid;
  grid-template-columns: 1fr; /* One column */
  grid-template-rows: 1fr; /* One row */
  grid-gap: 0; /* Default grid gap is 0 but this makes sure it is */
  align-content: center; /* Aligns the content vertically in the centre */
  justify-content: center; /* Aligns the content left to right in the centre */
  align-items: start; /* Aligns the items at the topo the start of their grid containers */
  height: 100%;
}

.hero-image-box {
  height: 100vh; /* The box that holds the image/video becomes the size of the viewport */
  max-width: 100%;
  display: grid;
  grid-column: 1 / -1; /* This tells it to fit across no matter how many grid columns there are */
  grid-row: 1 / -1;
}

/* This makes the image/video darker so the text is easier to read. Positions the grey content behind the text but in front of the image/video */
.hero-image-box::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5); /* Transparent grey added but it is below the image/video */
  height: 100%;
  width: 100%;
  position: absolute; /* This positions the grey over the image */
  top: 0; /* This is the default but it makes sure it is in the correct popsition */
  left: 0; /* This is the default but it makes sure it is in the correct popsition */
}
/* Makes sure that the image/video fills the entire viewport height */
.hero-image, .hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Keeps the same aspect ratio and fills the entire viewport */
  position: absolute;
}

.hero-video {
  background-color: #000;
  background-image: url("../Image/bass+guitar-background-image.jpg"); /* Adds the background image using CSS */
  background-repeat: no-repeat; /* Makes sure the image doesn't repear*/
  background-size: cover; /* Covers the content space */
  background-position: center; /* Positions the background in the centre */
}

.hero-text-box {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  align-self: center;
  padding: 1rem; /* Moves the text box off of the side */
  z-index: 10; /* Makes sure the text stays on top of the image/video */
  text-align: center;
}

.hero-heading {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.hero-text {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: white;
}

.hero-button {
  display: inline-block;
  padding: 0.75rem 1.5rem; /* Top and bottom will have 0.75 rem and the right and left will have 1.5rem */
  background: none; /* Makes the button clear */
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 5px; /* Rounds the corners of the button */
  margin-top: 2rem; /* Adds space between the text and button */
}

.hero-button p{
  position: absolute;
}

/*Give the button some action when cursor hovers over */
.hero-button:hover {
  transform: scale(0.95); /* The button changes to 95% of its size */
}

/* Style for when the button is pressed */
.hero-button:active {
  background: rgba(0, 0, 0, 0.3); /* Adds a small amount of transparent grey */
}

#hero-button-link {
  text-decoration: none;
  color: white;

}

/* About Page */

#hers {
  font-size: 2rem;
  line-height: 2rem;
}

#about-herscover {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;

}
.about-page {
  padding: 2rem 1rem 10rem 1rem; /* Padding on the edges. Pushed the footer down and pushed down from the nav bar */
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
}

.about-text {
  margin: 0 auto; /* Centres the text if it is longer */
  background-color:rgba(0, 0, 0, 0.1);
  padding: 15px;
}

 /* Styling all of the h1s inside of the about-text */
.about-text h1 {
  font-size: 2rem;
  line-height: 2rem;

}

.about-image img {
  height: 100%;
  object-fit: cover;
}

.about-social {
  display: flex;
  justify-content: start;
}

.about-social a {
  color: black;
  padding: 0 1rem 1rem 1rem;
}


/*Releases Page*/

#solus-background {
  background-image: linear-gradient(#bdc3c7, #2c3e50);
}

#theleap-background {
  background-image: linear-gradient(#e1eec3, #f05053);
}

#someonecrazy-background {
  background-image: linear-gradient(#FFC371, #FF5F6D);
}

#pessopt-background {
  background-image: linear-gradient(#F1F2B5, #135058);
}

.between-releases{
  padding: 0 1rem 0.5rem 1rem;
  margin: 0.2 auto;
  color: white;
}
.release-song {
  padding: 0 1rem 1rem 1rem;
  margin: 0.2 auto;
}

.release-title {
  padding: 0 1rem 1rem 1rem;
  margin: 0.2 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-content: center;
}

.release-song p {
  font-size: 2rem;
  line-height: 2rem;

}

.release-video {
  display: flex;
  padding: 0 1rem 2rem 1rem;
}

.release-video video {
  max-width: 100%;
  height: 450px;
  display: block;
  margin: 0 auto;
}

.gallery-page {
  padding: 0 1rem 10rem 1rem;
}

.releases-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Using the repeat command will automatically be responsive*/
  grid-gap: 0.5rem; /* Add a short gap between each gallery item */
  grid-auto-rows: 400px;
}

/* Styling images to fit well in the gallery */
.gallery-item {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.gallery-img {
  height: 100%;
  object-fit: cover; /* Using height 100% and object fit cover will ensure that the images fits within the space */
  transition: 0.5s ease-in-out; /* Duration of the zoom in is 0.5 seconds and will transition smoothly using ease-in-out */
}

.gallery-img:hover {
  transform: scale(1.5); /* Adds a zoom in when the cursor hovers over each gallery item */
}


.gallery-span {
  grid-template-columns: 1fr; /* Changes the grid template columns for mobile first */
  grid-auto-flow: dense; /* If there are any gaps, the gallery images will flow around and fill this in */
}
/* Width and height span classes */
.w-1, .w-2, .w-3, .w-4, {
  grid-column: span 1;
}

.h-1, .h-2, .h-3, .h-4, {
  grid-row: span 1;
}


/*
#solus-title{
  font-size: 3rem;
}

#solus-text {
  font-size: 2.7rem;
  line-height: 3rem;
}
#audio-solus {
  width: 100%;
}
*/


/*.desc-more {
  text-decoration: none;
  bottom: 0 !important;
  opacity: 1 !important;
}

*/


/* Shop Page */

.card-section {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(#8e9eab, #eef2f3)
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.cards .new-arrival {
  width: 100%;
  margin-top: 20px;
}


.cards .new-arrival h1 {
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  color: #222;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.cards .new-arrival h1:after {
  content: "";
  height: 5px;
  width: 300px;
  background-color: #222;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-top: 12px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 2px 4px rgb(0,0,0,25%);
  width: 600px;
  text-align: center;
  margin: 25px;
  cursor: pointer;
  background-color: #fff
}

.image-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  width: 100%;
  height: auto;
}

.card-description {
  text-align: center;
  margin-top: 20px;
}

.card-description h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #222;
  letter-spacing: 2px;
  margin-top: 20px;
}

.card-description p {
  font-size: 2rem;
  letter-spacing: 1.5px;
  margin-top: 50px;
}

.card-description span {
  margin-left: 8px;
}

.card-description del {
  margin-left: 7px;
  font-size: 2rem;
  color: #f2533a;
}

.button-group {
  margin-top: 30px;
}



.button-group button {
  background-color: #1976d2;
  font-size: 2.5rem;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;
}

.button-group button:hover {
  background-color: #0b348d;
  transition: 0.5s ease;
}

.checkout {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

#items-count {
  font-size: 2rem;
  font-weight: 700;
  color: #f2533a;
  margin: 20px;
}

#total-price {
  margin: 5px;
  font-size: 2rem;
  font-weight: 700;
}

.checkout button {
  background-color: #f2533a;
  font-size: 1.5rem;
  padding: 8px 20px;
  border-radius: 40px;
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;
}

.checkout button:hover {
  background-color: #222;
  transition: 0.5s ease;
}

.star-icons {
  margin-top: 20px;
  margin-bottom: 10px;
}

.star-icons i {
  color: #db8b21;
  padding: 0px 3px;
  font-size: 2rem;
}

#myBtn {
  display: none;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Places the button at the bottom of the page */
  right: 30px; /* Places the button 30px from the right */
  z-index: 99; /* Makes sure it does not overlap */
  border: none; /* Removes borders */
  outline: none; /* Removes outline */
  background-color: grey; /* Sets a background color */
  color: white; /* Text color */
  cursor: pointer; /* Adds a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 1.2rem; /* Increases font size */
}

#myBtn:hover {
  background-color: #555; /* Adds a dark-grey background on hover */
}


/* Footer Nav Extra Styles */

.footer-logo {
  white-space: nowrap; /* Ensures that the logo stays on a single line */
}

/* Styling the footer */
.footer-social {
  display: flex; /* Makes the footer elements flow together */
  justify-content: center; /* Centres elements */
  padding-top: 3rem; /* Adds space */
}

/* Styling footer social links */
.footer-social a {
  color: black;
  padding: 0 1rem; /* No padding on the top and bottom, 1rem on the right and left */
   /* Increases the social icon sizes */
}

.footer-nav a {

}

.footer-copyright {
  text-align: center; /* Centers copyright text */
  padding-bottom: 6rem; /* Adds space to the bottom of the page */
}

/* Media Queries for larger screens */

/* This media query is for tablets. Everything below 600px in width, will have the mobile first styles. Everything above 600px will have the next styles */
@media (min-width: 600px) {
  .nav-bar {
    line-height: 1.5rem; /* Gives the nav bar a bit more space  */
  }
  .nav-menu {
    padding: 0 1rem;
  }
  .nav-item {
    flex: 1 1; /* Moves the nav items onto a single line */
  }
  .hero-nav {
    padding-bottom: 1rem;
  }
  .hero-heading {
    font-size: 4rem; /* Increases the heading font size */
    line-height: 4rem; /* Ensures the text doesn't collapse on itself */
  }
  .hero-text-box {
    padding: 2rem;
  }
  .hero-text {
    font-size: 2rem;
    line-height: 2rem;
  }

  .about-page {
    grid-template-columns: 1fr 1fr; /* Changes the amount of columns to 2. This will position the text on the left and the image/video on the right */
    grid-gap: 1rem; /* Adds space between the text and image/video */
  }

  /* Changing header and paragraph text on larger screens */
  .about-text h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .about-text p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

/* Grid columns and row spans for larger screens */

  .w-1 {
    grid-column: span 1;
  }
  .w-2 {
    grid-column: span 2;
  }
  .w-3 {
    grid-column: span 3;
  }
  .w-4 {
    grid-column: span 4;
  }

  .h-1 {
    grid-row: span 1;
  }
  .h-2 {
    grid-row: span 2;
  }
  .h-3 {
    grid-row: span 3;
  }
  .h-4 {
    grid-row: span 4;
  }

  /* Changes the gallery span for larger screens. Changes from 1 fractional unit to 4. This will apply to the gallery only when this class is added to the releases gallery. This means there will always be 4 columns. */
  .gallery-span {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-nav {
    padding-top: 2rem;
  }
  .footer-logo {
    flex-basis: 100%; /* Targets how wide a flex object is. This makes the logo in the footer go across the entire flex box */
  }
}

/* This media query targets anything over 920px */
@media (min-width: 920px) {
  body {
    max-width: 1400px;
  }
  .hero-body {
    max-width: unset; /* Makes sure the image/video fits across the entire screen */
  }
  .nav-bar {
    justify-content: space-between; /* Helps the logo move to the left */
    padding: 1rem 0;
    margin: 1rem auto 2rem auto;
    line-height: 1rem;
  }
  .nav-menu {
    width: auto; /* Changes the manu to appear on a single line */
    justify-self: end;
  }
  .logo {
    margin: 0 0 0 0.3rem; /* No margin on the top, right and bottom. But some margin on the left */
    justify-self: start;
  }
  .hero-nav {
    width: 100%;
  }
  /* Changing header and paragraph text on larger screens */
  .about-text h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .about-text p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .release-song p {
    width: 50%;

  }

  .release-song {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-nav {
    justify-content: space-evenly;
  }

  #about-footer-nav, #releases-footer-nav, #index-footer-nav {
    background-image: linear-gradient(#dfe5e7, #e4e9eb);
  }

}
