/* basic styles */
html {
  font-size: 100%;
  line-height: 1.5rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  width: 100%;
  height: auto;
  display: block;
}

.background-image {
  background: linear-gradient(#8e9eab, #eef2f3);

}


/* Header Navbar Styles*/
.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  overflow: hidden;
  background-color: #fff;
}

.logo, .nav-menu {
  text-transform: uppercase;
}

.logo, .nav-item {
  white-space: nowrap; /*Keeps logos from collapsing on single line*/
}

.nav-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-item {
  flex: 1 0 33.3%;
  text-align: center;
}

.social-nav-item {
  flex: 1 1 10%
}

.logo a, .nav-menu a {
  display: block;
  text-decoration: none;
  letter-spacing: 0.2rem;
  padding: 0.8rem;
  color: #000;
}

.logo a {
  font-weight: 700;

}

.nav-menu a {
  font-weight: 400;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid #fff;
  transition: all ease 0.1s;
}

.nav-menu a:hover {
  border-bottom: 1px solid #000;
}

/* Hero Header Navbar Changes */

.hero-nav {
  background: none; /* Removes background colour */
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  background: none;
  align-content: top;
  z-index: 10;
}

.hero-nav .logo a, .hero-nav .nav-menu a {
  color: white;
}

.hero-nav .nav-menu a:hover {
  border-bottom: 1px solid #ffffff; /*Changing the hover state to a white border*/
}

.hero-nav .nav-menu a {
  border-bottom: 1px solid rgba(0, 0, 0, 0); /*Change black border to a clear one*/
}

/* Homepage Hero */

.hero-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0;
  align-content: center;
  justify-content: center;
  align-items: start;
  height: 100%;
}

.hero-image-box {
  height: 100vh;
  max-width: 100%;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.hero-image-box::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-image, .hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.hero-video {
  background-color: #000;
  background-image: url("../Image/bass+guitar-background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-text-box {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  align-self: center;
  padding: 1rem;
  z-index: 10;
  text-align: center;
}

.hero-heading {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.hero-text {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: white;
}

.hero-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 2rem;
}

.hero-button p{
  position: absolute;
}

.hero-button:hover {
  transform: scale(0.95);
}

.hero-button:active {
  background: rgba(0, 0, 0, 0.3);
}

#hero-button-link {
  text-decoration: none;
  color: white;

}

/* About Page */

#hers {
  font-size: 2rem;
  line-height: 2rem;
}

#about-herscover {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;

}
.about-page {
  padding: 2rem 1rem 10rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
}

.about-text {
  margin: 0 auto;
  background-color:rgba(0, 0, 0, 0.1);
  padding: 15px;
}


.about-text h1 {
  font-size: 2rem;
  line-height: 2rem;

}

.about-image img {
  height: 100%;
  object-fit: cover;
}

.about-social {
  display: flex;
  justify-content: start;
}

.about-social a {
  color: black;
  padding: 0 1rem 1rem 1rem;
}


/*Releases Page*/

#solus-background {
  background-image: linear-gradient(#bdc3c7, #2c3e50);
}

#theleap-background {
  background-image: linear-gradient(#e1eec3, #f05053);
}

#someonecrazy-background {
  background-image: linear-gradient(#FFC371, #FF5F6D);
}

#pessopt-background {
  background-image: linear-gradient(#F1F2B5, #135058);
}

.between-releases{
  padding: 0 1rem 0.5rem 1rem;
  margin: 0.2 auto;
  color: white;
}
.release-song {
  padding: 0 1rem 5rem 1rem;
  margin: 0.2 auto;
}

.release-title {
  padding: 0 1rem 1rem 1rem;
  margin: 0.2 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-content: center;
}

.release-song p {
  font-size: 2rem;
  line-height: 2rem;

}

.release-video {
  display: flex;
  padding: 0 1rem 2rem 1rem;
}

.release-video video {
  max-width: 100%;
  height: 450px;
  display: block;
  margin: 0 auto;
}

.gallery-page {
  padding: 0 1rem 10rem 1rem;
}

.releases-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0.5rem;
  grid-auto-rows: 300px;
}

.gallery-item {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.gallery-img {
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.gallery-img:hover {
  transform: scale(1.5);
}


.gallery-span {
  grid-template-columns: 1fr;
  grid-auto-flow: dense;
}

.w-1, .w-2, .w-3, .w-4, {
  grid-column: span 1;
}

.h-1, .h-2, .h-3, .h-4, {
  grid-row: span 1;
}


/*
#solus-title{
  font-size: 3rem;
}

#solus-text {
  font-size: 2.7rem;
  line-height: 3rem;
}
#audio-solus {
  width: 100%;
}
*/


/*.desc-more {
  text-decoration: none;
  bottom: 0 !important;
  opacity: 1 !important;
}

*/


/*Shop Page*/

.card-section {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(#8e9eab, #eef2f3)
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.cards .new-arrival {
  width: 100%;
  margin-top: 20px;
}


.cards .new-arrival h1 {
  text-align: center;
  font-size: 3rem;
  line-height: 5rem;
  color: #222;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.cards .new-arrival h1:after {
  content: "";
  height: 5px;
  width: 300px;
  background-color: #222;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-top: 12px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 2px 4px rgb(0,0,0,25%);
  width: 600px;
  text-align: center;
  margin: 25px;
  cursor: pointer;
  background-color: #fff
}

.image-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  width: 100%;
  height: auto;
}

.card-description {
  text-align: center;
  margin-top: 20px;
}

.card-description h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #222;
  letter-spacing: 2px;
  margin-top: 20px;
}

.card-description p {
  font-size: 2rem;
  letter-spacing: 1.5px;
  margin-top: 50px;
}

.card-description span {
  margin-left: 8px;
}

.card-description del {
  margin-left: 7px;
  font-size: 2rem;
  color: #f2533a;
}

.button-group {
  margin-top: 30px;
}



.button-group button {
  background-color: #1976d2;
  font-size: 2.5rem;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;
}

.button-group button:hover {
  background-color: #0b348d;
  transition: 0.5s ease;
}

.checkout {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

#items-count {
  font-size: 3rem;
  font-weight: 700;
  color: #f2533a;
  margin: 20px;
}

#total-price {
  margin: 5px;
  font-size: 3rem;
  font-weight: 700;
}

.checkout button {
  background-color: #f2533a;
  font-size: 1.5rem;
  padding: 8px 20px;
  border-radius: 40px;
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;
}

.checkout button:hover {
  background-color: #222;
  transition: 0.5s ease;
}

.star-icons {
  margin-top: 20px;
  margin-bottom: 10px;
}

.star-icons i {
  color: #db8b21;
  padding: 0px 3px;
  font-size: 3rem;
}

#myBtn {
  display: none;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: grey; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 3rem; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


/* Footer Nav Extra Styles */

.footer-logo {
  white-space: nowrap;
}

.footer-social {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.footer-social a {
  color: black;
  padding: 0 1rem;
  font-size: 1.8rem;
}

.footer-nav a {

}

.footer-copyright {
  text-align: center;
  padding-bottom: 6rem;
}

/* Media Queries for larger screens */

@media (min-width: 600px) {
  .nav-bar {
    line-height: 1.5rem;
  }
  .nav-menu {
    padding: 0 1rem;
  }
  .nav-item {
    flex: 1 1;
  }
  .hero-nav {
    padding-bottom: 1rem;
  }
  .hero-heading {
    font-size: 4rem;
    line-height: 4rem;
  }
  .hero-text-box {
    padding: 2rem;
  }
  .hero-text {
    font-size: 2rem;
    line-height: 2rem;
  }

  .about-page {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .about-text h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .about-text p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

/* Grid column and row spans for larger screens */

  .w-1 {
    grid-column: span 1;
  }
  .w-2 {
    grid-column: span 2;
  }
  .w-3 {
    grid-column: span 3;
  }
  .w-4 {
    grid-column: span 4;
  }

  .h-1 {
    grid-row: span 1;
  }
  .h-2 {
    grid-row: span 2;
  }
  .h-3 {
    grid-row: span 3;
  }
  .h-4 {
    grid-row: span 4;
  }

  .gallery-span {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-nav {
    padding-top: 2rem;
  }
  .footer-logo {
    flex-basis: 100%;
  }
}

@media (min-width: 920px) {
  body {
    max-width: 1400px;
  }
  .hero-body {
    max-width: unset;
  }
  .nav-bar {
    justify-content: space-between;
    padding: 1rem 0;
    margin: 1rem auto 2rem auto;
    line-height: 2rem;
  }
  .nav-menu {
    width: auto;
    justify-self: end;
  }
  .logo {
    margin: 0 0 0 0.3rem;
    justify-self: start;
  }
  .hero-nav {
    width: 100%;
  }

  .about-text h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .about-text p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .release-song p {
    width: 50%;

  }

  .release-song {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-nav {
    justify-content: space-evenly;
  }

  #about-footer-nav, #releases-footer-nav, #index-footer-nav {
    background-image: linear-gradient(#dfe5e7, #e4e9eb);
  }

}
